server:
  port: 8082

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://ep-fragrant-unit-ailk0gqi-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  inventory:
    base-url: ${INVENTORY_API_BASE_URL:https://ordernest-inventory-service.onrender.com}
  payment:
    base-url: ${PAYMENT_API_BASE_URL:http://localhost:8083}
  jwt:
    secret: ${JWT_SECRET:change-me-in-prod-change-me-in-prod-change-me}
